body {
    background-color: #000000;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

div {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-family: monospace;
    color: #000000;
}

